body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  text-decoration-color: inherit;
}

.app {
  width: 50%;
  padding: 50px 25%;
}

.page-title {
  font-size: 50px;
}