.short-url-form {
    display: flex;
    flex-wrap: wrap;
}

.short-url-form span {
    font-size: 28px;
}

.short-url-form input {
    flex: 1;
    width: 100%;
    margin: 0 0 0 5px;
    font-size: 28px;
    border: none;
    background-color: whitesmoke;
}

.short-url-form button {
    width: 100%;
    margin: 5px 0;
    font-size: 28px;
    background-color: gold;
    border: none;
}

.short-url {
    font-size: 40px;
    margin: 20px 0 0 0;
    text-align: center;
}