.new-url {
    display: flex;
    min-height: 35px;
    padding: 5px 10px 0 15%;
    background-color: rgba(255, 255, 255, 0.3);
}

.new-url span {
    flex: 1;
    font-size: 25px;
    width: 50%;
    margin: 0;
}

.dark-row {
    background-color: rgba(0, 0, 0, 0.05);    
}

@media only screen and (max-width: 768px) {
    .new-url {
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
    }
}

@media only screen and (max-width: 425px) {
    .new-url {
        min-height: 10vw;
        padding-top: 0;
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
    }

    .new-url span {
        font-size: 5vw;
    }
}